
@import "../../vars";

.header{
    background-color: $main-bg-color;
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 400;
    position: sticky;
    top: 0;
    z-index: 5;

    &_gauche{
        cursor: pointer;
        display: flex;
        &_image{
            width: 39px;
            align-self: center;
            margin-left: 17px;
            &_logo{
                width: 100%;
            }
        }
        &_titre{
            align-self: center;
            color: $main-color;
            margin-left: 15px;
            font-size: 0.8rem;
        }
    
    }

    &_droite{
        &_desktop{
            width: 39px;
        }
    }
}

